<h1>Edit Todo Item</h1>

<%= form_for(@todo_item) do |f| %>
  <% if @todo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo item from being saved:</h2>

      <ul>
      <% @todo_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="editInput">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="editTextarea">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="radiobutton">
      <%= f.radio_button :completed, true %>
      <%= f.label :completed, "Completed" %>
    </div>

    <div class="radiobutton">
      <%= f.radio_button :completed, false %>
      <%= f.label :completed, "Incomplete" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', todo_items_path %>
