<h1>TODO List</h1>

<%= form_with(model: @new_todo_item, url: todo_items_path, local: true) do |form| %>
  <%= form.text_field :title, placeholder: 'Add a new item...' %>
  <%= form.submit 'Add' %>
<% end %>

<ul>
  <% @todo_items.each do |todo_item| %>
      <% if todo_item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(todo_item.errors.count, "error") %> prohibited this todo item from being saved:</h2>
        <ul>
        <% todo_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <li>
      <%= check_box_tag nil, nil, todo_item.completed, onclick: "this.form.submit()" %>
      <%= link_to todo_item.title, todo_item_path(todo_item) %>
      <span class='edit'>
      <%= button_to 'Edit', edit_todo_item_path(todo_item), method: :get %>
      </span>
      <span class='delete'>
      <%= button_to 'Delete', todo_item_path(todo_item),
               method: :delete %>
      </span>
    </li>
  <% end %>
</ul>
